.section-about .subscribe-btn-container .subscribe-btn{
	background-color: #503AE7;
	color: #ffffff;
	width: 50%;
}

@media only screen and (max-width: 600px) {

  .section-about .container{
    padding: 18px!important;
  }
  .section-about .container .row{
    padding: 0!important;
  }
}