.section1 .input{
display: flex;
justify-content: center;
}
.section1 .input a{
	background-color: #503AE7;
	color: #ffffff;
	text-decoration: none;

}

.input input{
	background-color: #F4F2FF;
	outline: none;
	border-style: none;
	width: 75%;
}

.stripes-container {
  display: flex;
}

.stripe {
  display: inline-block;
  height: 100px;
}

.stripe0{
  width: 50px;
  background-color: #ffffff;
}

.stripe1 {
  width: 50px;
  height: 300px;
  background: linear-gradient(to bottom, 
    #ffffff 30%, 
    #503AE7 30% 70%, 
    #ffffff 70%);
}


.stripe2 {
  width: 50px;
  height: 300px;
  background-color: #1AD993;
}

.stripe3 {
  width: 50px;
  height: 300px;
  background: linear-gradient(to bottom, 
    #ffffff 15%, 
    #503AE7 15% 85%, 
    #ffffff 85%);
}

.stripe4 {
  width: 50px;
  height: 300px;
  background: linear-gradient(to bottom, 
    #ffffff 30%, 
    #1AD993 30% 70%, 
    #ffffff 70%);
}

.stripe5 {
  width: 50px;
  height: 300px;
  background-color: #503AE7;
}

.stripe6 {
  width: 50px;
  height: 300px;
  background: linear-gradient(to bottom, 
    #ffffff 15%, 
    #1AD993 15% 85%, 
    #ffffff 85%);
}

.podcasts{
  list-style: none;
}


  #podcast1{
    display: none;
  }
.podcasts-list li a img {
  width:25px;
  height: 25px;
}


.episode-btn-element .episode-btn{
  background-color: #503AE7;
}
.episode-btn-element .episode-btn:hover{
  border: 3px solid #832BC1;
}
.episode-element{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.episode-elements .microphone{
  position: relative;
  top: -440px;
  padding: 13px;
  color: #ffffff;

}

.episode-elements .microphone i{
   border-radius: 50%;
   background-color: #503AE7;
   padding: 12px;
     height:38px ;
  width: 38px;
}

.episode-element .card{
  margin: 5px;
  padding: 5px;
}

.episode-element .card .listen-btn{
color: #503AE7;
}

.episode-element .card .listen-btn i{
  font-size: 22px;
}
.episode-element .card .listen-btn:focus{
  border: none;
}

.article-element{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article-element .card{
  margin: 5px;
  padding: 5px;
}
.article-card-body{
  background-color: #F4F2FF;
  overflow: hidden;
}

.link-btn{
  color: #503AE7;
}

.article-card-element {
  display: flex;
  margin-top: 186px;
  height: 122px;
  transform: rotate(45deg);
}

.angle-div {
  display: inline-block;
}

.angle-div0{
  width: 70px;
  height: 250px;
  background-color: #F4F2FF;
}

.angle-div1 {
  width: 70px;
  height: 205px;
  background: linear-gradient(to top, 
    #503AE7 30%, 
    #503AE7 30% 70%, 
    #503AE7 70%);
}
.angle-div2 {
  width: 70px;
  height: 580px;
  background: linear-gradient(to top, 
    #1AD993 30%, 
    #1AD993 30% 70%, 
    #1AD993 70%);
  margin-top: -258px;
}
.angle-div3 {
  width: 70px;
  height: 270px;
  background: linear-gradient(to top, 
    #503AE7 30%, 
    #503AE7 30% 70%, 
    #503AE7 70%);
  margin-top: -158px;
}


@media only screen and (max-width: 600px) {

  .section1 .container{
    padding: 18px!important;
  }
  .section1 .container .row{
    padding: 0!important;
  }

  .stripe0,.stripe1,.stripe2,.stripe3,.stripe4,.stripe5,.stripe6{
    width: 30px!important;
  }

  #podcast0{
    display: none!important;
  }
  #podcast1{
    display: block!important;
  }

.episode-elements .microphone{
  position: relative;
  top: -380px;
}

.section-episodes .episodes-container .episodes-header{
  
  flex-direction:column;
}
.section-episodes .episodes-container .episodes-header .episode-btn-element .episode-btn{

}

  .episode-element{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
  .article-element{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}