.section1 .input{
display: flex;
justify-content: center;
}
.section1 .input a{
	background-color: #503AE7;
	color: #ffffff;
	text-decoration: none;

}

.input input{
	background-color: #F4F2FF;
	outline: none;
	border-style: none;
	width: 75%;
}

.stripes-container {
  display: flex;
}

.stripe {
  display: inline-block;
  height: 6.25rem;
}

.stripe0{
  width: 2.7rem;
  background-color: #ffffff;
}

.stripe1 {
  width: 2.7rem;
  height: 18.75rem;
  background: linear-gradient(to bottom, 
    #ffffff 30%, 
    #503AE7 30% 70%, 
    #ffffff 70%);
}


.stripe2 {
  width: 2.7rem;
  height: 18.75rem;
  background-color: #1AD993;
}

.stripe3 {
  width: 2.7rem;
  height: 18.75rem;
  background: linear-gradient(to bottom, 
    #ffffff 15%, 
    #503AE7 15% 85%, 
    #ffffff 85%);
}

.stripe4 {
  width: 2.7rem;
  height: 18.75rem;
  background: linear-gradient(to bottom, 
    #ffffff 30%, 
    #1AD993 30% 70%, 
    #ffffff 70%);
}

.stripe5 {
  width: 2.7rem;
  height: 18.75rem;
  background-color: #503AE7;
}

.stripe6 {
  width: 2.7rem;
  height: 18.75rem;
  background: linear-gradient(to bottom, 
    #ffffff 15%, 
    #1AD993 15% 85%, 
    #ffffff 85%);
}

.podcasts{
  list-style: none;
}
.podcasts .podcasts-list li{
  padding: 0;
  margin: 0;
}
.podcasts .podcasts-list li a{
  font-size: 1.5rem;

}


  #podcast1{
    display: none;
  }
.podcasts-list li a img {
  width:1.563rem;
  height: 1.563rem;
}


.episode-btn-element .episode-btn{
  background-color: #503AE7;
}
.episode-btn-element .episode-btn:hover{
  border: 0.188rem solid #832BC1;
}
.episode-element{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.episode-elements .microphone{
  position: relative;
  top: -27.5rem;
  padding: 0.813rem;
  color: #ffffff;

}

.episode-elements .microphone i{
   border-radius: 50%;
   background-color: #503AE7;
   padding: 0.75rem;
     height:2.375rem;
  width: 2.375rem;
}

.episode-elements .microphone i:hover{
  border: 0.125rem solid #832BC1;
}

.episode-element .card{
  margin: 0.313rem;
  padding: 0.313rem;
}

.episode-element .card .listen-btn{
color: #503AE7;
}

.episode-element .card .listen-btn i{
  font-size: 1.375rem;
}
.episode-element .card .listen-btn i:hover{
  border: 0.125rem solid #832BC1;
  border-radius: 50%;
}
.episode-element .card .listen-btn:focus{
  border: none;
}

.article-element{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article-element .card{
  margin: 0.313rem;
  padding: 0.313rem;
}
.article-card-body{
  background-color: #F4F2FF;
  overflow: hidden;
}

.link-btn{
  color: #503AE7;
}

.article-card-element {
  display: flex;
  margin-top: 10.5rem;
  height: 7.625rem;
  transform: rotate(45deg);
}

.angle-div {
  display: inline-block;
}

.angle-div0{
  width: 4.375rem;
  height: 15.625rem;
  background-color: #F4F2FF;
}

.angle-div1 {
  width: 4.375rem;
  height: 12.813rem;
  background: linear-gradient(to top, 
    #503AE7 30%, 
    #503AE7 30% 70%, 
    #503AE7 70%);
}
.angle-div2 {
  width: 4.375rem;
  height: 36.25rem;
  background: linear-gradient(to top, 
    #1AD993 30%, 
    #1AD993 30% 70%, 
    #1AD993 70%);
  margin-top: -16.125rem;
}
.angle-div3 {
  width: 4.375rem;
  height: 16.875rem;
  background: linear-gradient(to top, 
    #503AE7 30%, 
    #503AE7 30% 70%, 
    #503AE7 70%);
  margin-top: -9.875rem;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) { 
  .section1 .container .row .col-lg-4 .container h1{
    font-size: 0.625rem!important;
  }
  .episode-elements .microphone{
    top:-0.188rem!important;
  }
}


@media only screen and (max-width: 768px) {

  .section1 .container{
    padding: 1.125rem!important;
  }
  .section1 .container .row{
    padding: 0!important;
  }

  .stripe0,.stripe1,.stripe2,.stripe3,.stripe4,.stripe5,.stripe6{
    width: 1.9rem!important;
  }

  #podcast0{
    display: none!important;
  }
  #podcast1{
    display: block!important;
  }

  .podcasts .podcasts-list li a{
    font-size: 1rem!important;
  }

.episode-elements .microphone{
  position: relative;
  top: -23.60rem;
}

.section-episodes .episodes-container .episodes-header{
  
  flex-direction:column;
}
.section-episodes .episodes-container .episodes-header .episode-btn-element .episode-btn{

}

  .episode-element{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
  .article-element{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}