.brand-name{
	position: relative;
	font-size: 2rem;
}
.brand-name:before{
	content: "{Finsweet";
	color: #503AE7;
	position: absolute;

	width: 0;
	overflow: hidden;
	transition:  all 2s linear;

}

.brand-name:hover:before{
	width: 100%;
	text-shadow: 0.063rem 0.063rem 0.063rem;
}

.navigation-link{
	font-size: 1.2rem;
}

