.sponsor{
	background-color: #503AE7;
	bottom: -70px;
	position: relative;
}


.footer{
	background-color: #14142B;
}

.footer-brand{
	font-size: 2.5rem;
}

.last-footer{
	background-color: #503AE7;
}

.page-list li ,.reach-us li,.subscribe li{
	list-style: none;
	padding: .313rem 0rem 0.313rem 0rem;
}

.subscribe li a img {
	width:1.563rem;
	height: 1.563rem;
}

@media only screen and (max-width: 600px) {
	
	.sponsor .sponsor-container{
		flex-direction: column;
	}
	.sponsor .sponsor-container svg{
		border: 0.125rem solid #ffffff;
		margin: 0.313rem;
		border-radius: 0.313rem;
	}
	.footer-element .row .col-sm-12{
		display: flex;
		justify-content: center;

	}
	.footer-element .row .col-sm-12 .subscribe-p{
		margin-left: 6.25rem;
	}
}